# Unit 22. 리스트, 튜플 응용

## 22.1 리스트 조작

In [1]:
# append, extend, insert
# append를 98% 사용

In [5]:
# 리스트 맨 뒤에 요소 하나를 추가하는 메서드(method)
a = [10,20,30]
a.append(500)
a

[10, 20, 30, 500]

In [6]:
a.append(['x','y'])
a

[10, 20, 30, 500, ['x', 'y']]

In [9]:
b = [10,20,30]
b.extend(['x','y'])     # 리스트를 연결하여 확장
b

[10, 20, 30, 'x', 'y']

In [10]:
# append는 주로 반복문에서 사용됨
empty_list = []
for i in range(5):
    empty_list.append(i)
empty_list

[0, 1, 2, 3, 4]

In [11]:
# insert(인덱스, 요소) : 특정 인덱스에 요소 추가

In [12]:
# 리스트에서 요소 삭제하는 방법 - 1
del a[4]
a

[10, 20, 30, 500]

### Stack and Queue

In [16]:
stack = []
# stack에 push
stack.append(1) ; stack.append(2) ; stack.append(3);
stack

[1, 2, 3]

In [17]:
# stack으로부터 pop
value = stack.pop()     # 리스트에서 요소 삭제하는 방법 - 2
print(value, stack)

3 [1, 2]

In [18]:
queue = []
# queue에 insert
queue.insert(0,1); queue.insert(0,2); queue.insert(0,3);
queue

[3, 2, 1]

In [19]:
# queue로부터 끄집어내기
value = queue.pop()
print(value,queue)

1 [3, 2]

### 다양한 메서드(method)

In [26]:
a = [10,20,30,40,50,10]
a.index(30)         # 요소를 입력하면 인덱스를 반환

2

In [24]:
num = 45
if num in a:        # 조건문에 a.count(num)을 써도 동일
    a.index(num)

In [27]:
a.count(10)     # 리스트 내에 해당 요소의 개수 반환

2

### 정렬(Sort)

In [30]:
# 오름차순(ascending order)이 default
a = [20, 10, 15, 30, 40]
a.sort()            # 메서드를 사용하면 update됨, a = sorted(a)와 동일
a

[10, 15, 20, 30, 40]

In [31]:
b = [20, 10, 15, 30, 40]
sorted(b)

[10, 15, 20, 30, 40]

In [32]:
b               # 정렬함수 sorted()를 사용하면 update하지 않음

[20, 10, 15, 30, 40]

In [33]:
b = [20, 10, 15, 30, 40]
b = sorted(b)  
b

[10, 15, 20, 30, 40]

In [34]:
# 내림차순(descending order)
a = [20, 10, 15, 30, 40]
a.sort(reverse=True)    
a

[40, 30, 20, 15, 10]

In [36]:
a.clear()       # 리스트 비우기
a

[]

## 22.2 리스트 할당과 복사

In [37]:
# Shallow copy, pointer만 복사
a = [0]*5
b = a        # a의 주소를 b의 주소에 할당
b

[0, 0, 0, 0, 0]

In [38]:
b[2] = 99
b

[0, 0, 99, 0, 0]

In [39]:
a           # b의 영향을 받음

[0, 0, 99, 0, 0]

In [40]:
# 데이터를 별도의 기억장소에 복사
a = [0]*5
b = a.copy()            # a의 주소가 아닌 데이터를 b에 복사
b

[0, 0, 0, 0, 0]

In [41]:
b[2] = 99
a           # b의 영향을 받지 않음

[0, 0, 0, 0, 0]

## 22.3 리스트와 반복문

In [42]:
for fruit in ['apple','banana','cherry']:
    print(fruit)

apple
banana
cherry

In [43]:
# (중요) enumerate : 인덱스와 요소를 함께 출력, 많이 사용됨!
fruits = ['apple','banana','cherry']
for index, fruit in enumerate(fruits):       
    print(index, fruit)

0 apple
1 banana
2 cherry

In [44]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry

## 22.4 리스트에서 min, max, sum 함수 활용

In [52]:
a = [38, 21, 53, 62, 19]
a.sort()
a[0]                # min(a)

19

In [50]:
sorted(a)[0]           # min(a)

19

In [49]:
a[-1]           # max(a)

62

In [53]:
# a 원소의 합
sum_of_list = 0
for elem in a:
    sum_of_list += elem
sum_of_list, sum(a)

(193, 193)

In [ ]:
# 주의할 것, 오류 - sum을 변수명으로 사용하지 말기!
sum = 0
for elem in a:
    sum += elem
sum, sum(a)

## 22.5 리스트 표현식(Comprehension)

In [58]:
[fruit for fruit in fruits]             # 튜플, 딕셔너리에도 적용 가능

['apple', 'banana', 'cherry']

In [60]:
[fruit * index for index, fruit in enumerate(fruits)]

['', 'banana', 'cherrycherry']

In [64]:
[i*i for i in range(1,11)]          # list(i*i for i in range(1,11)) 동일

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
sq_list = []
for i in range(1,11):
    sq_list.append(i*i)
    
sq_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 표현식에서 if 조건문 사용하기

In [67]:
[i*i for i in range(1,11,2)]

[1, 9, 25, 49, 81]

In [68]:
[i*i for i in range(1,11) if i % 2 == 1]

[1, 9, 25, 49, 81]

### for 반복문 여러 번 사용

In [73]:
# 구구단
a = [i*k for i in range(2,10) for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [74]:
a = [i*k for i in range(2,10)
            for k in range(1,10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

## 22.6 map

In [75]:
a = [1.2, 2.3, 3.5, 4.8]
for i in range(len(a)):
    a[i] = int(a[i])

print(a)

[1, 2, 3, 4]

In [77]:
a = [1.2, 2.3, 3.5, 4.8]
for i, val in enumerate(a):
    a[i] = int(val)

print(a)

[1, 2, 3, 4]

In [76]:
a = [1.2, 2.3, 3.5, 4.8]
a = list(map(int,a))
print(a)

[1, 2, 3, 4]

In [78]:
a = [1.2, 2.3, 3.5, 4.8]
a = list(map(lambda x: x*x,a))
print(a)

[1.44, 5.289999999999999, 12.25, 23.04]

## 22.7 tuple

In [80]:
tuple(i*i for i in range(1,11) if i%2 == 0)      # tuple을 꼭 써야함, 아니면 제너레이터가 됨

(4, 16, 36, 64, 100)