# Unit 10. 리스트와 튜플

## 10.1 리스트(list)

In [1]:
a = [38, 21, 53, 62, 19]
a

[38, 21, 53, 62, 19]

In [2]:
# python에서는 리스트 엘리먼트가 다른 자료형도 가능
person = ['James', 19, 175.4, True, [120,80]]   # list는 순서가 보장됨
person

['James', 19, 175.4, True, [120, 80]]

In [4]:
# 위의 person은 다음과 같은 딕셔너리로 변경하는 것이 권장됨
person_dict = {'name':'James', 'age':19, 'height':175.4,
               'is_male':True,'bp': [120,80]}    # 딕셔너리는 순서가 보장되지 않음, 알파벳 순서대로 출력됨
person_dict

{'age': 19, 'bp': [120, 80], 'height': 175.4, 'is_male': True, 'name': 'James'}

### 빈 리스트 만들기

In [5]:
a = []
b = list()
a, b

([], [])

In [6]:
a, b = [], []

### range
- range([시작숫자,],끝나는 숫자+1 [, 증가분])    # [  ]는 option

In [8]:
a = range(10)
a

range(0, 10)

In [9]:
list(a)   # 요소 확인 가능, list 인덱스는 0부터 시작

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [13]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [15]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

## 10.2 튜플(tuple)
- Read-only 특성(변경 불가)

In [16]:
a = (38, 21, 47)
a

(38, 21, 47)

In [19]:
a = 38, 21, 47  # ()생략하여 튜플 정의 가능
a

(38, 21, 47)

In [21]:
# 튜플은 엘리먼트가 다른 자료형 가능
person = ('James', 19, 175.4, True, [120,80])
person

('James', 19, 175.4, True, [120, 80])

In [26]:
a = tuple()  # 빈 튜플을 만들 수 있음, 그러나 튜플은 요소를 변경, 추가, 삭제할 수 없으므로 잘 사용하지 않음
a

()

In [30]:
# a는 정수
a = (38)
a

38

In [31]:
# a는 튜플
a = (38,)
a

(38,)

tuple

In [33]:
tuple(range(5))

(0, 1, 2, 3, 4)

### 리스트 <--> 튜플

In [34]:
a = [1, 3, 4]
b = tuple(a)  # 리스트를 튜플로 변경
b

(1, 3, 4)

In [35]:
c = list(b)  # 튜플을 리스트로 변경
c

[1, 3, 4]

In [36]:
x = 10
tuple(x)  # 요소가 한개인 경우 x는 int이므로 tuple로 변경 불가능, tuple(x,)도 불가능

TypeError: ignored

In [38]:
tuple('Hell0')  # 문자열을 튜플로 변경가능

('H', 'e', 'l', 'l', '0')

In [40]:
list('안녕하세요') # 문자열을 리스트로 변경 가능

['안', '녕', '하', '세', '요']

### 언팩킹(Unpacking)

In [42]:
# tuple unpacking
a = (1, 3, 4)
x, y, z = a
x, y, z

(1, 3, 4)

In [43]:
# list unpacking
x, y, z = [1, 3, 5]
x, y, z

(1, 3, 5)