# Unit 29. 함수

## 29.1 출력 함수 만들기

In [1]:
def hello():                # 함수는 호출하기 전에 정의되어야 함
    print('Hello, world!')

In [2]:
hello()

Hello, world!

## 29.2 덧셈 함수

In [3]:
def add(a, b):      # a, b : 매개변수(parameter, argument)
    print(a+b)

In [6]:
add(4,5)

9

In [7]:
# Docstrings
def add(a, b):     
    """
    이 함수는 a와 b를 더한 뒤 결과를 반환하는 함수입니다.
    """
    print(a+b)

In [9]:
# 도움말 호출
add?

## 29.3 결과값 반환

In [10]:
def add(a,b):
    return a+b

In [11]:
add(4,5), add(10,20)

(9, 30)

In [12]:
x = add(23, 45)
x

68

In [13]:
def is_ten(x):
    return x==10

In [14]:
is_ten(101//10)

True

In [22]:
def not_ten1(x):
    if x== 10:
        return
    else:
        print('It is not 10.')

In [23]:
# 위의 코드와 동일한 결과
def not_ten2(x):
    if x== 10:
        return              # return은 함수 중간에서 빠져나올 수 있음
    print('It is not 10.')

In [24]:
not_ten1(5)

It is not 10.

In [25]:
not_ten1(101//10)

In [26]:
not_ten2(5)

It is not 10.

In [27]:
not_ten2(10)

## 29.4 여러개의 결과값 반환

In [31]:
# 파이썬만 가능
def add_sub(a,b):
    return a+b, a-b         # 튜플

In [32]:
x,y = add_sub(15,7)         # 튜플 언패킹

In [33]:
x, y

(22, 8)

## 29.5 함수의 호출 과정

In [ ]:
# Stack을 이용한다

## 연습문제
- 3자리수 정수(100\~999) 2개를 곱해서 나온 결과가 팔린드롬(Palindrome)이 되도록 할 때, 가장 큰 숫자는?

In [36]:
def is_palindrome(x):
    s = str(x)
    return s == s[::-1]

In [41]:
is_palindrome(12345), is_palindrome(906609)

(False, True)

In [49]:
max_pal, m, n = 0, 0, 0
for i in range(100,1000):
    for k in range(i,1000):
        if is_palindrome(i*k):        # i*k 곱한 값이 팔린드롬인지를 확인
            if i*k > max_pal:       # 팔린드롬이면 max_pal과 비교
                max_pal,m,n = i*k, i,k
                
print(f'{m} x {n} = {max_pal}')

913 x 993 = 906609