# Unit 32. 람다 함수 - 익명(Anonymous) 함수

In [1]:
def plus_ten(x):
    return x+10

In [2]:
plus_ten(5)

15

In [3]:
plus_ten2 = lambda x : x+10
plus_ten2(5)

15

In [4]:
(lambda x : x+10)(5)        # lambda함수에 변수명을 지정하지 않아도 사용 가능

15

In [7]:
list(map(lambda x : int(x)+10,input().split()))     # 자주 사용하지 않는 연산이나 함수명을 지정하지 않아도 될 때 lambda함수 사용

2 5 10

[12, 15, 20]

In [9]:
def plus_ten(x):
    return int(x)+10
list(map(plus_ten,input().split()))

2 5 10

[12, 15, 20]

### 제약 사항

In [10]:
# 람다함수에서 변수를 만들 수 없음
(lambda x: y=10 ; x+y)(3)

SyntaxError: ignored

In [11]:
y=10
(lambda x: x+y)(3)      # 함수 밖에서 변수 정의는 가능

13

In [12]:
(lambda x,y:x+y)(1,4)

5

### 조건부 함수

In [14]:
# 리스트 a에서 3의 배수를 문자열로 변환
a = list(range(1,11))
list(map(lambda x:str(x) if x%3==0 else x,a))       # 삼항 연산자 이용

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [15]:
# 리스트 a에서 3의 배수는 문자열로, 5의 배수는 실수로 변환
list(map(lambda x : str(x) if x%3 == 0 else float(x) if x%5 == 0 else x, a))
# 람다 표현식에서 if를 사용했다면 반드시 else를 사용해야 한다
# 람다 표현식 안에서는 elif를 사용할 수 없다

[1, 2, '3', 4, 5.0, '6', 7, 8, '9', 10.0]

### map에 여러개의 객체 넣기

In [17]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
list(map(lambda x, y : x*y,a,b))

[6, 14, 24, 36, 50]

### filter

In [19]:
# lambda에서는 filter는 잘 사용하지 않음
# dateframe에서는 filter 사용 : 행 선택시
a = list(range(1,11))
list(filter(lambda x : 4 <= x < 8, a))

[4, 5, 6, 7]

In [ ]:
# reduce 생략