## 피타고라스 문제
- a + b + c = 1000 (a < b < c)
- a*a + b*b = c*c인 피타고라스 수는?

In [2]:
num_count = 0
for a in range(1,333):
    for b in range(a+1,500):
        c = 1000-a-b
        if a*a + b*b == c*c:          
            num_count += 1
print(num_count)

1

In [1]:
[(a,b,1000-a-b) for a in range(1,333) for b in range(a+1,500) if a*a + b*b == (1000-a-b)*(1000-a-b)]

[(200, 375, 425)]

## 오늘 날짜의 만 나이를 구하는 프로그램
본인의 생일을 년, 월, 일로 입력받아 오늘 날짜의 만 나이를 구하는 프로그램을 작성하시오.

In [ ]:
# 날짜 메서드
from datetime import date
today = date.today()
today.year, today.month, today.day

(2021, 7, 29)

In [4]:
from datetime import date
birth = list(map(int,input('생년월일을 입력하세요> ').split()))
today = date.today()
if today.month > birth[1]:   
    age = today.year-birth[0]
elif today.month == birth[1] and today.day >= birth[2]:
    age = today.year-birth[0]
else:
    age = today.year-birth[0]-1
print("만 ",age,"세",sep='')

생년월일을 입력하세요> 1998 9 30
만 22세

## 디지털 시계
디지털 시계에 하루동안(00:00\~23:59) 3이 표시되는 시간을 초로 환산하면 총 몇 초(second)일까요? (디지털 시계는 하루동안 다음과 같이 시:분(00:00\~23:59)으로 표시됨.)

In [3]:
sec = 0
for h in range(24):
    for m in range(60):
        if '3' in str(h) or '3' in str(m):
            sec += 60
print(sec)

29700