# Unit 22\~26 심사문제

## 22장 심사문제 - 2의 거듭제곱 리스트 생성하기
표준 입력으로 정수 두 개가 입력됩니다(첫 번째 입력 값의 범위는 1\~20, 두 번째 입력 값의 범위는 10\~30이며 첫 번째 입력 값은 두 번째 입력 값보다 항상 작습니다).<br> 첫 번째 정수부터 두 번째 정수까지를 지수로 하는 2의 거듭제곱 리스트를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br> 단, 리스트의 두 번째 요소와 뒤에서 두 번째 요소는 삭제한 뒤 출력하세요. 출력 결과는 리스트 형태라야 합니다.

In [ ]:
num = list(map(int,input().split()))
power_list = [2**i for i in range(num[0],num[1]+1)] 
del power_list[1], power_list[-2]
print(power_list)

1 10
[2, 8, 16, 32, 64, 128, 256, 1024]

## 23장 심사문제 - 지뢰찾기
표준 입력으로 2차원 리스트의 가로(col)와 세로(row)가 입력되고 그 다음 줄부터 리스트의 요소로 들어갈 문자가 입력됩니다.<br> 이때 2차원 리스트 안에서 *는 지뢰이고 .은 지뢰가 아닙니다.<br> 지뢰가 아닌 요소에는 인접한 지뢰의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br>

여러 줄을 입력 받으려면 다음과 같이 for 반복문에서 input을 호출한 뒤 append로 각 줄을 추가하면 됩니다(list 안에 문자열을 넣으면 문자열이 문자 리스트로 변환됩니다).

In [1]:
col, row = map(int,input().split())
matrix = []
for i in range(row):
    matrix.append(list(input()))

matrix2 = [['.']*(row+2)] + [['.']+m_list+['.'] for m_list in matrix]
matrix2.append(['.']*(row+2))

result_matrix = [[0 for i in range(row)] for k in range(row)]
for r in range(1,row+1):
    for c in range(1,row+1):
        count = 0
        if matrix[r-1][c-1] == "*":
            result_matrix[r-1][c-1] = "*"
        else:    
            for r_move in range(r-1,r+2):
                for c_move in range(c-1,c+2):
                    if r_move == r and c_move == c:
                        continue
                    if matrix2[r_move][c_move] == '*':
                        count += 1
            result_matrix[r-1][c-1] = count
        print(result_matrix[r-1][c-1], end='')
    print()

5 5
..*..
...*.
.*...
.***.
*.*..
01*21
123*1
2*532
3***1
*4*31

In [1]:
# 풀이 2
import random
mines = []
for _ in range(9):          # 지뢰행렬을 입력받지않고 랜덤으로 추출
    row = ''
    for _ in range(9):
        if random.random() > 0.6:
            row += "*"
        else:
            row += '.'
    mines.append(row)

In [2]:
mines = [['*' if random.random()>0.6 else '.' for _ in range(9)] for _ in range(9)]
for i in range(len(mines)):
    for k in range(len(mines)):
        print(mines[i][k], end = ' ')
    print()

* . . . . . * * .
. * . * * . . . .
* * . * * * * . *
* . * * . * . . .
. . . . . * * * *
* . . * . . . * .
. . * * . . . * .
. * . * * * . * .
. * . . . * * * *

In [3]:
def print_matrix(mat):
    for i in range(len(mat)):
        for k in range(len(mat)):
            print(mat[i][k],end = ' ')
        print()

print_matrix(mines)

* . . . . . * * .
. * . * * . . . .
* * . * * * * . *
* . * * . * . . .
. . . . . * * * *
* . . * . . . * .
. . * * . . . * .
. * . * * * . * .
. * . . . * * * *

In [4]:
# padding
pad_mines = []
pad_mines.append('.'*(len(mines)+2))
for i in range(len(mines)):
    row = '.'
    for k in range(len(mines)):
        row += mines[i][k]
    row += '.'
    pad_mines.append(row)
pad_mines.append('.'*(len(mines)+2))
print_matrix(pad_mines)

. . . . . . . . . . .
. * . . . . . * * . .
. . * . * * . . . . .
. * * . * * * * . * .
. * . * * . * . . . .
. . . . . . * * * * .
. * . . * . . . * . .
. . . * * . . . * . .
. . * . * * * . * . .
. . * . . . * * * * .
. . . . . . . . . . .

In [7]:
final_mines = []
for i in range(1,len(mines)+1):
    row = ''
    for k in range(1, len(mines)+1):
        if pad_mines[i][k] == '*':
            row += '*'
        else:
            count = (pad_mines[i-1][k-1] == '*') + (pad_mines[i-1][k] == '*') + \
                    (pad_mines[i-1][k+1] == '*') + (pad_mines[i][k-1] == '*') + \
                    (pad_mines[i][k+1] == '*') + (pad_mines[i+1][k-1] == '*') + \
                    (pad_mines[i+1][k] == '*' )+ (pad_mines[i+1][k+1] == '*')
            row += str(count)
    final_mines.append(row)
print_matrix(final_mines)

* 2 2 2 2 2 * * 1
4 * 4 * * 5 4 4 2
* * 6 * * * * 2 *
* 4 * * 6 * 6 5 3
2 3 3 3 4 * * * *
* 2 3 * 3 2 5 * 4
2 3 * * 5 2 4 * 3
2 * 5 * * * 6 * 4
2 * 3 2 4 * * * *

## 24장 심사문제

### 24_1 - 특정 단어 개수 세기
표준 입력으로 문자열이 입력됩니다. 입력된 문자열에서 'the'의 개수를 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 단, 모든 문자가 소문자인 'the'만 찾으면 되며 'them', 'there', 'their' 등은 포함하지 않아야 합니다.

In [ ]:
import string 
letter= input().split()
count_the = 0
for word in letter:
    if 'the' == word.strip(string.punctuation):
        count_the += 1
print(count_the)

the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the.
6

In [1]:
text = """the grown-ups' response, this time, was to advise me to lay aside my drawings of boa constrictors, whether from the inside or the outside, and devote myself instead to geography, history, arithmetic, and grammar. That is why, at the, age of six, I gave up what might have been a magnificent career as a painter. I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two. Grown-ups never understand anything by themselves, and it is tiresome for children to be always and forever explaining things to the."""

In [2]:
# 풀이2
import re
text = re.sub('[\'-.,\n]','',text)
text

'the grownups response this time was to advise me to lay aside my drawings of boa constrictors whether from the inside or the outside and devote myself instead to geography history arithmetic and grammar That is why at the age of six I gave up what might have been a magnificent career as a painter I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two Grownups never understand anything by themselves and it is tiresome for children to be always and forever explaining things to the'

In [3]:
text = re.sub('[^A-Za-z ]','',text)     # A-Z, a-z, ' '가 아닌 경우 ''으로 대체
text

'the grownups response this time was to advise me to lay aside my drawings of boa constrictors whether from the inside or the outside and devote myself instead to geography history arithmetic and grammar That is why at the age of six I gave up what might have been a magnificent career as a painter I had been disheartened by the failure of my Drawing Number One and my Drawing Number Two Grownups never understand anything by themselves and it is tiresome for children to be always and forever explaining things to the'

In [5]:
text_list = text.lower().split()
count = 0
for word in text_list:
    if word == 'the':
        count += 1
count

6

### 24_2 - 높은 가격순으로 출력하기
표준 입력으로 물품 가격 여러 개가 문자열 한 줄로 입력되고, 각 가격은 ;(세미콜론)으로 구분되어 있습니다.<br> 입력된 가격을 높은 가격순으로 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다).<br> 이때 가격은 길이를 9로 만든 뒤 오른쪽으로 정렬하고 천단위로 ,(콤마)를 넣으세요.

In [ ]:
prices = sorted(list(map(int,input().split(';'))),reverse=True)   # prices = list(map(int,input().split(';')))  ; prices.sort(reverse=True)
for price in prices:
    print(f'{price:9,d}')

51900;83000;158000;367500;250000;59200;128500;1304000
1,304,000
  367,500
  250,000
  158,000
  128,500
   83,000
   59,200
   51,900

## 25장 심사문제 - 딕셔너리에서 특정 값 삭제하기
표준 입력으로 문자열 여러 개와 숫자 여러 개가 두 줄로 입력되고, 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성합니다.<br>다음 코드를 완성하여 딕셔너리에서 키가 'delta'인 키-값 쌍과 값이 30인 키-값 쌍을 삭제하도록 만드세요.

In [ ]:
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))

x = {key:value for key, value in x.items() if key != 'delta' and value != 30}
x

alpha bravo charlie delta
10 20 30 40

{'alpha': 10, 'bravo': 20}

In [9]:
# 풀이2
keys = input().split()
values = map(int, input().split())
 
x = dict(zip(keys, values))
del x['delta']
for key,value in x.items():
    if value == 20:
        break
del x[key]
x

alpha bravo charlie delta
10 20 30 40

{'alpha': 10, 'charlie': 30}

## 26장 심사문제 - 공약수 구하기
표준 입력으로 양의 정수 두 개가 입력됩니다.<br> 다음 소스 코드를 완성하여 두 숫자의 공약수를 세트 형태로 구하도록 만드세요.<br> 단, 최종 결과는 공약수의 합으로 판단합니다.

In [6]:
num1, num2 = map(int,input().split())
a = set(i for i in range(1,num1+1) if num1 % i == 0)
b = set(i for i in range(1,num2+1) if num2 % i == 0)

divisor = a & b
 
result = 0
if type(divisor) == set:
    result = sum(divisor)
 
print(result)

100 200
217